html {
    box-sizing: border-box;
    
}
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background: #191919;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn{
    border-radius: 6px;
    background: #118DA8;
    
    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    padding: 15px;
    
    
}

.container {
    max-width: 1400px;
    padding-left: 50px;
    padding-right: 50px;

    margin: 0 auto;
}

.header {

}

.header__inner {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 40px;
}

.menu__list-link {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    
}

.menu__list-link:hover, .faq__list-link:hover{
    color: #118DA8;
}

/* main */

.btn__title{
}

.main__container{
    display: flex;
    align-items: center;
    padding-top: 80px;

}


.main__image{
    width: 650px;
    height: 873px;
    
    
}

.top__title {
    width: 530px;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; /* 125.714% */
    letter-spacing: 3.2px;
    
}

.social__top-title{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.top__text{
    padding-top: 74px;
}

.main__social{
    padding-top: 16px;
}

/* about */

.about__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0px 0px 0px;
}

.about__title-name{
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}

.about__content{
    margin: 60px 0;
}

.about__info{
    border-radius: 32px;
    background: #000;
    width: 1300px;
    height: 545px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.about__img{
    width: 389px;
    height: 465px;
    
}

.about__episode-content{
    width: 778px;
    height: 465px;
}

.about__content-name{
    border-radius: 6px;
    background: #191919;
    text-align: center;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding: 0px 16px;
    max-width: fit-content;
}


.about__content-episode{
    color: #118DA8;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-top: 48px;
}

.about__content-header{
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px; /* 110% */
    letter-spacing: 2.56px;
    width: 701px;
    padding-top: 18px;
}

.about__content-text{
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    width: 757px;
    padding-top: 18px;
    
}

.about__content-btn{
    
}

/* people content */

.people__container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.people__link-text {
    color: #118DA8;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    padding-top: 20px;
}

.people__content-name{
    color: #FFF;
    font-family: DM Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 121.846% */
    letter-spacing: 2.88px;
}
.people__content-info{
    padding: 28px 0px;
} 

/* subscription */

.subscription__container{
    border-radius: 32px;
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 75px;
    margin-top: 201px;
    margin-bottom: 200px;

}

.mailing__list-name{
    color: #118DA8;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.mailing__list-info{
    color: #FFF;
    font-family: DM Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 110% */
    letter-spacing: 2.88px;
    width: 431px;
}

input{
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
    width: 522px;
    height: 82px;
    display: flex;
    padding-left: 20px;
    
}

.mailing__form-name {
    margin-bottom: 20px;
}

.mailing__form-email{
    margin-bottom: 20px;
}

/* reviews */
.reviews__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    

}


.reviews__block{
    
    width: 423px;
    height: 321px;
    border-radius: 32px;
    background: #000;
    margin-top: 16px;
    
    
}

.reviews__mark{
    gap: 5px;
    align-items: center;
    padding: 54px 0px 0px 50px;

}

.reviews__text{
    color: #FFF;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.2px;
    padding-left: 50px;
    padding-top: 21px;
    padding-right: 50px;
}

.reviews__name{
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    padding: 19px 0px 0px 50px;
}
/* footer */

.footer__inner {
    padding-top: 100px;
    display: flex;
    
    gap: 16px;
    
}

.footer__social {
    display: flex;
    gap: 17px;
    
}

.first__bloсk {
    padding-right: 239px;
}

.social__list {
    display: flex;
    gap: 10px;
    padding-top: 23px;
    width: 180px;
}


.faq__list{
    line-height: 27px;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    padding-right: 21px;
}

.menu__list-footer {
    padding-right: 120px;
}